html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  color: #333;
}
h1 {
  color: #333;
  text-align: center;
  margin-top: 20px;
}

.devices-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.device-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.device-card h3 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
}
.device-card p {
  margin: 4px 0;
  font-size: 1em;
}

.header-container {
  display: flex;
  align-items: space-between;
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
}
.header-container h1 {
  margin: 0;
  font-size: 2em;
}
.header-container nav {
  margin-top: 10px;
}

.header-container nav li {
  color: white;
  display: inline;
  margin: 0 10px;
  text-decoration: none;
  cursor: pointer;
}
.header-container nav li:hover {
  text-decoration: underline;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.search-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 10px 0;
  border: #282c34;
  padding: 0 5%;
  background-color: #ccc;
  padding: 10px;
}
.search-container input {
  padding: 8px;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  width: 70%;
  border: 1px solid #ccc;
}
.search-container button {
  padding: 8px 12px;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  background-color: #61dafb;
  color: #282c34;
  margin-left: 8px;
  cursor: pointer;
}

.footer-container {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
